*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    height: 100vh;
    padding: 20px 10%;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    width: 150px;
    cursor: pointer;
}
nav .menu{
    width: 50px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
    margin-right: 150px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    padding: 10px;
    position: relative;
}
nav ul li a::before{
    content: '';
    width: 100%;
    height: 0px;
    background-color: rgb(198, 250, 127);
    position: absolute;
    left: 0;
    bottom: -5px;
    z-index: -1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: height 0.5s;
}
nav ul li a:hover:before{
    height: 85px;
}
.row{
    display: flex;
}
.col{
    flex-basis: 50%;
    position: relative;
}
.img1{
    width: 100%;
    margin-top: 10px;
}
.img2{
    width: 280px;
    position: absolute;
    bottom: 10px;
    left: 0;
    border-radius: 10px;
}
.col h1{
    margin-top: 180px;
    font-size: 40px;
    font-weight: 600;
}
.col a{
    text-decoration: none;
    color: #000;
    background-color: rgb(198, 250, 127);
    padding: 18px 50px;
    margin-top: 70px;
    display: inline-block;
    font-weight: 700;
    border-radius: 30px;
}
